<div id="that-card" class="card w-75 p-3 h-50 d-inline-block mx-auto d-flex justify-content-center col px-md-5 bottom-card space-bottom">
    <div class="card-body align-center justify-center">
        <h2 class="card-title text-center p-3 top">{{that_false}}</h2>
        <h5 id="that-stat" class="text-center hidden">{{answered_false}} users agree!</h5>
    </div>
</div>