<div class="card text-dark align-self-end no-bkg">
        <img class="card-img img-fluid" src="/images/that-box.png" alt="Card image">
        <div class="card-img-overlay">
            <h2 class="card-title p-3 bottom">{{this_true}}</h5>
        </div>
</div>