<div id="this-card" class="card w-75 p-3 h-50 d-inline-block mx-auto d-flex justify-content-center col px-md-5 top-card space-top">
    <div class="card-body align-center justify-center">
        <h2 class="card-title text-center p-3">{{this_true}}</h2>
        <h3 id="this-stat" class=" text-center hidden">{{answered_true}} users agree!</h3>
    </div>
</div>
