<<<<<<< HEAD
<div class="card bottom-card text-dark align-items-center justify-content-center align-self-end no-bkg">
    <h2 class="card-title p-3">{{this_true}}</h2>
=======
<div class="card text-dark align-self-start no-bkg">
    <img class="card-img img-fluid" src="/images/this-box.png" alt="Card image">
    <div class="card-img-overlay">
        <h2 class="card-title p-3 top">{{that_false}}</h2>
        {{!-- <h3 id="top-stat" class="hidden">{{answered_false}} of users agree!</h3> --}}
    </div>
>>>>>>> 72890234203417065108e12883598d8022ccf9e8
</div>