<div class="container">
        {{#if loggedIn}}
        <div class="container text-light">
            <h3>You've answered all the questions!</h3>
            <p>Go to your dashboard to see your answers and submit more questions.</p>
        </div>
        <div class="btn-container">
                <a class="log-in btn btn-lg action" id="dashboard" href="/dashboard">Go To My Dashboard</a>
        </div>
        {{else}}
        <div class="btn-container">
            <a class="log-in btn btn-lg btn-outline-light" href="/login"> Get Started </a>            
        </div>
        {{/if}}
</div>

<div class="image">
    <img class= "resize" src="/images/thisthattext.png" alt="thisthat logo">
</div>