<div class="container">
        <div class="btn-container">
            <div class="log-in">
                <button type="button" class="btn btn-outline-light" href="/login">Sign-In / Sign-Up</button>
            </div>
        </div>
</div>

<div class="image">
    <img class= "resize" src="/images/thisthattext.png" alt="thisthat logo">
</div>