<div class="container">
        {{#if loggedIn}}
        <div class="btn-container">
            <div class="log-in">
                <button type="button" class="btn btn-lg btn-outline-light" href="/questions">Begin!</button>
            </div>
        </div>
        {{else}}
        <div class="btn-container">
            <div class="log-in">
                <button type="button" class="btn btn-lg btn-outline-light" href="/login">Sign-In / Sign-Up</button>
            </div>
        </div>
        {{/if}}
</div>

<div class="image">
    <img class= "resize" src="/images/thisthattext.png" alt="thisthat logo">
</div>