<div class="container">
        {{#if loggedIn}}
        <div class="btn-container">
            <div class="log-in">
                <a type="button" class="btn btn-lg btn-outline-light" href="./questions">Begin!</a>
            </div>
        </div>
        {{else}}
        <div class="btn-container">
            <div class="log-in">
                <a href="./login">
                    <button type="button" class="btn btn-lg btn-outline-light">Sign-In / Sign-Up</button>
                </a>
            </div>
        </div>
        {{/if}}
</div>

<div class="image">
    <img class= "resize" src="/images/thisthattext.png" alt="thisthat logo">
</div>