<div class="container">
        {{#if loggedIn}}
        <div class="btn-container">
                <a class="log-in btn btn-lg btn-outline-light" id="begin" href="/questions/1">Begin!</a>
        </div>
        {{else}}
        <div class="btn-container">
            <a class="log-in btn btn-lg btn-outline-light" href="/login"> Sign-In / Sign-Up</a>            
        </div>
        {{/if}}
</div>

<div class="image">
    <img class= "resize" src="/images/thisthattext.png" alt="thisthat logo">
</div>