<div class="jumbotron jumbotron-fluid">
        <div class="container text-light">
          <h1 class="display-4">Sign Up / Log-In</h1>
          <p class="lead">If you are new sign up, if not, welcome back!</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Sign Up</h5>
                <div class="form-group text-dark">
                  <label for="username">Username</label>
                  <input type="username" class="form-control" id="signUsername" aria-describedby="userHelp">
                  <small id="userHelp" class="form-text text-dark">Make it a fun one!</small>
                </div>
                <div class="form-group text-dark">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1"> <br>
                </div>
                <button type="submit" class="btn btn-dark" id="signBtn">Sign Up</button>             
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Log-in</h5>
                <div class="form-group text-dark">
                  <label for="username">Username</label>
                  <input type="username" class="form-control" id="logUsername" aria-describedby="userHelp">
                  <small id="userHelp" class="form-text text-dark">Welcome Back!</small>
                </div>
                <div class="form-group text-dark">
                  <label for="exampleInputPassword2">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword2"> <br>
                </div>
                <button type="submit" class="btn btn-dark" id="loginBtn">Log-in</button>
            </div>
          </div>
        </div>
      </div>

      <script src="/javascript/login.js"></script>