<div class="container-lg d-flex mx-2 my-6 min-justify-items-center">
    
    <div class="image">
        <img class= "resize-smaller" src="/images/thisthattext.png" alt="thisthat logo">
    </div>
    
    <div class="row">
        <div class="col-sm-10 col-lg-9 col-xl-7 min-h justify-content-around">
    <!-- #each questions as |question| -->
    {{> top-option }} <!--question-->

    


    {{> bottom-option}} <!--question-->
    <!-- /each -->
        </div>
    </div>
</div>