<div class="container">
    {{#each questions as |question|}}
    {{> top-option question}}

    <div class="image my-6">
        <img class= "resize-smaller" src="/images/thisthattext.png" alt="thisthat logo">
    </div>


    {{> bottom-option question}}
    {{/each}}
</div>