<div class="container">
    {{> top-option}}

    <div class="image my-6">
        <img class= "resize-smaller" src="/images/thisthattext.png" alt="thisthat logo">
    </div>


    {{> bottom-option}}
</div>