{{!-- <div class="container-lg d-flex mx-2 my-6 min-justify-items-center">
    
    <div class="image"> --}}

    <div class="container d-flex flex-column justify-content-center my-auto vertical-center">
        {{#each questions as |question|}}
        {{> top-option question}}
    
        <div class="image my-6">
            <img class= "resize-smaller" src="/images/thisthattext.png" alt="thisthat logo">
        </div>
    
        {{> bottom-option question}}
        {{/each}}
    </div>

<!--<div class="container">
   

    <div class="image my-6">
        <img class= "resize-smaller" src="/images/thisthattext.png" alt="thisthat logo">
    </div>
    
    <div class="row">
        <div class="col-sm-10 col-lg-9 col-xl-7 min-h justify-content-around">
    
    <!-->   <!--question-->

    

    <div>
        <button type="submit" class="next-question">NEXT QUESTION</button>
    </div>

<!--
   
</div>

<script src="/javascript/questions.js"></script>
   > bottom-option
</div>-->
