<div class="container">
    <div class="card text-dark align-self-start no-bkg">
        <img class="card-img img-fluid" src="/images/this-box.png" alt="Card image">
        <div class="card-img-overlay">
            <h2 class="card-title p-3">This Option</h5>
        </div>
    </div>

    <div class="image my-6">
        <img class= "resize-smaller" src="/images/thisthattext.png" alt="thisthat logo">
    </div>


    <div class="card text-dark align-self-end no-bkg">
        <img class="card-img img-fluid" src="/images/that-box.png" alt="Card image">
        <div class="card-img-overlay">
            <h2 class="card-title p-3">That Option</h5>
        </div>
    </div>
</div>