
<div class="container d-flex flex-column justify-content-center my-auto vertical-center">
    {{#each questions as |question|}}
    {{> top-option question}}

    <div class="image my-6">
        <img class= "resize-smaller" src="/images/thisthattext.png" alt="thisthat logo">
    </div>

    {{> bottom-option question}}
    {{/each}}
</div>

<div>
    <button type="submit" class="next-question">NEXT QUESTION</button>
</div>



<script src="/javascript/questions.js"></script>