<div class="container d-flex flex-column justify-content-center my-auto vertical-center">

        <div class="card w-75 p-3 h-50 d-inline-block mx-auto d-flex justify-content-center col px-md-5 mt-5 space"style="width: 200px">
            <div class="card-body border-this">
                <p class="card-text">This Option</p>
            </div>
        </div>
        
    
        <div class="image my-6">
            <img class= "resize-smaller" src="./public/images/thisthattext.png" alt="thisthat logo">
        </div>
    
        <div class="card w-75 p-3 h-50 d-inline-block d-flex justify-content-center mt-4 col px-md-5">
            <div class="card-body border-that">
                <p class="card-text">That Option</p>
            </div>
        </div>
    
    </div>
<!--<div class="container">
    {{> top-option}}

    <div class="image my-6">
        <img class= "resize-smaller" src="/images/thisthattext.png" alt="thisthat logo">
    </div>


    {{> bottom-option}}
</div>-->
