*{
    padding:0;
    margin: 0;
}

body{
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #efbe96 0%,
        #efbe96 50%,
        #00867e 50%,
        #00867e 100%
    );
}


.image{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.log-in{
    position: fixed;
    left: 50%;
    bottom: 25%;
    transform: translate(-50%, -25%);
}

form{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.credentials{
    visibility: hidden;
}

.resize-smaller {
    width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

.resize {
    width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto 
}


.btn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.btn-nav-link {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
}

.btn-nav-link:hover {
    color: black;
}

.top-card {
    border: 7px solid #00867e;
    border-radius: 12px;
    height: 199px;
    box-shadow: 0px 0px 22px 3px rgb(0 0 0 / 30%);
}


.bottom-card{
    border: 7px solid #efbe96;
    border-radius: 12px;
    height: 199px;
    box-shadow: 0px 0px 22px 3px rgb(0 0 0 / 30%);
}

/* @include media-breakpoint-up(sm) {
    .some-class {
      display: block;
    }
} */
