*{
    padding:0;
    margin: 0;
}

body{
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #efbe96 0%,
        #efbe96 50%,
        #00867e 50%,
        #00867e 100%
    );
}


.image{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.log-in{
    position: fixed;
    left: 50%;
    bottom: 25%;
    transform: translate(-50%, -25%);
}

form{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.credentials{
    visibility: hidden;
}

.resize {
    width: 400px;
    height: auto;
    

    display: block;
    margin-left: auto;
    margin-right: auto;
} 

.resize {
    width: 500px;
    height: auto;

    display: block;
    margin-left: auto;
    margin-right: auto 
}